*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;
}
.hero{
    height: 100vh;
    background: linear-gradient(45deg,#1a1a2e,#16213e);
    color: white;
    padding: 5%;
}
.container{
     width: 40rem;
     background:  linear-gradient(45deg,#07071e,#03060e);
     height: 25rem;
     margin-top: 7%;
     margin-left: 24%;
     border-radius: 20px;
     border: 2px solid #07071e ;
}

h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(239, 29, 29);
}
#time{
    margin-left: 23%;
    font-size: 4rem;
    margin-bottom: 5%;
    color: rgb(238, 241, 241);
}
#date{
    margin-left: 39%;
    font-size: 2rem;
    margin-bottom: 4%;
}
button{
    margin-left: 25%;
    width: 50%;
    height: 10%;
    font-size: x-large;
    background-color: rgb(214, 14, 14);
     border: 2px solid rgb(134, 46, 46);
    border-radius: 5px;
    color: white;
}